/* Import TailwindCss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables css */
:root{
    --color-detail : #E7E4DA;
    --color-hover : #8D5443;
}

/* Submenu */
.image__triange{
    position: absolute;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

/* Menu Mobile*/
.navbar__menu{
    opacity: 0;
    overflow: hidden;
    left: -450px;
    transition: all 1000ms ease-in-out;
}
.navbar__menu--active{
    opacity: 1;
    left: 0;
}
.btn__menu{
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .65rem;
}
.btn__menu-container{
    background-color: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}
.btn__menu-container--active:first-child{
    transform: rotate(60deg);
}
.btn__menu-container--active:nth-child(2){
    opacity: 0;
}
.btn__menu-container--active:nth-child(3){
    transform: rotate(-60deg);
}

/* Iconos del footer */
.icon__footer:hover{
    filter: drop-shadow(0px 2px 4px var(--color-hover));
}
.icon__search:hover,
.icon__shopping:hover{
    filter: drop-shadow(0px 0px 1px black);
}

/* Barra de filtros */
.barra__filtro{
    left: -350px;
    top: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 99999;
    position: fixed;
    transition: all 1000ms ease-in-out;
}
.barra__filtro--active{
    opacity: 1;
    left: 0;
}

/* Boton X */
.btn__menu-x{
    height: 2px;
    width: 100%;
    border-radius: 5px;
    background-color: black;
    position: relative;
    right: -120px;
}
.btn__menu-x:first-child{
    transform: rotate(50deg);
}

.btn__menu-x:nth-child(2){
    transform: rotate(-50deg);
    top: -12px;
}

/* CheckBox Personalizados */
.custom-checkbox {
    width: 1.25rem;
    height: 1.5rem;
    border: 2px solid #D1D5DB;
    background-color: #E5E7EB; 
    margin-bottom: 0.25rem;
}

/* Input De Busqueda */
.input__search{
    outline: none;
    box-sizing: border-box;
    height: 50px;
    width: 0;
    padding: 0 20px;
    margin-left: -45px;
    font-size: 20px;
    border-radius: 50px;
    z-index: 1;
    color: #000;
    border: 1px solid var(--color-hover);
    transition: all .7s ease-in-out;
}
.input__search::placeholder{
    color: grey;
}
.btn__search,
.container__shopping{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--color-hover);
    border-radius: 50%;
    line-height: 80px;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
}
.btn__search img{
    transition: all .7s ease;
}
.container__btn-search:hover .input__search{
    width: 250px;
    padding: 0 45px;
}
.container__btn-search:hover img{
    transform: rotate(-350deg);
}

/* Boton del carrito */
.container__shopping .icon__shopping{
    transition: all .7s ease;
}
.container__shopping:hover .icon__shopping{
    transform: rotate(-15deg);
}
/* Boton de incremento y decremento del carrito */
.btn__increment,
.btn__decrement{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    transition: .7s ease;
}
.btn__increment:hover{
    color: rgb(126, 157, 68);
}
.btn__decrement:hover{
    color: rgba(248, 113, 133);
}
/* Carrito de compras */
.cart-overlay{
    position: fixed;
    top: 0;
    right: -500px;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    transition:0.3s ease-in-out;
}
.cart-overlay--show{
    width: 85%;
    right: -45px;
}
.cart-overlay-content{
    position: absolute;
    background: white;
    height: 100%;
    padding: 25px;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
}
.close-button{
    position: absolute;
    font-size: 1.5rem;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.7s ease;
}
/* Quitar Barra incremente y decremento en el input. */
.input__cart::-webkit-inner-spin-button,
.input__cart::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.intupt__cart{
    -moz-appearance: textfield;
}